.descMain {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    
  }
  
  .App-logo {
    display: flex;
    height: 50vmin;
    justify-content: center;
    margin-top: 10px;
    
  }

  #descAbout {
    display: flex;
    color:#393E46;
    font-family: Verdana;
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }
